nav li {
  list-style: none;
  padding: 0.5vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav li > a {
  text-decoration: none;
}
nav {
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  display: flex;
  padding: 0.7vmax;
  align-items: center;
  justify-content: space-between;
  padding-right: 12vmax;
  padding-left: 12vmax;
  background-color: rgba(24, 22, 22, 0.15);
  backdrop-filter: blur(10px);
  z-index: 100;
  transition: 0.3s all ease;
}
.logo h1 {
  font-weight: 300;
  word-spacing: 3px;
  letter-spacing: 4px;
  border-bottom: 1px solid white;
  padding: 1vmax;
}
.links {
  display: flex;
  width: auto;
  justify-content: center;
}
li:hover button {
  background-color: rgba(245, 245, 245, 0.267);
}
.menu-bar {
  /* display: none; */
  transform: translateX(-100vmax);
  transition: 0.3s all ease;
}

@media screen and (max-width: 1100px) {
  nav {
    padding-left: 1vmax;
    padding-right: 1vmax;
  }
}
@media screen and (max-width: 900px) {
  .links {
    /* display: none; */
    transform: translateX(-100vmax);
    transition: 0.3s all ease;
  }
  .menu-bar {
    /* display: block; */
    transform: translateX(0%);
    cursor: pointer;
    align-self: flex-end;
    border-radius: 4px;
  }
  nav {
    padding: 0vmax 7vmax;
    padding-top: 3vmax;
    justify-content: center;
    flex-direction: column;
  }
  .logo h1 {
    font-size: 19px;
    font-weight: 300;
    font-family: "Roboto";
    margin-right: 28vmax;
    width: 32vmax;
  }
  .show-links {
    display: block;
    transform: translateX(0%);
    transition: 0.5s all ease;
  }
  .menu-bar-position {
    position: relative;
    bottom: 2.5rem;
  }
  .remove-logo {
    display: none;
  }
}
